svg {
    font: 12px sans-serif;
}
.axis {
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke-width: 2px;
}

.x.axis path {
    stroke: #000;
}

.x.axis line {
    stroke: #fff;
}

.y.axis path {
    stroke: #000;
}

.y.axis line {
    stroke: #fff
}

path.line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.legend {
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}
